<%-include("common/head.ejs")%>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<div class="max-w-[80vw]">
    <div class="flex flex-row justify-center">
        <div class="bg-gray-8.5 mt-2 p-2 rounded-sm">
            <!-- Name and icon -->
            <img alt="Icon of <%=app.displayName%>" src="https://ems-api.litdevs.org/v1/pm2/icon/<%=app.name%>" width="64" height="64">
            <p class="font-bold text-xl"><%=app.displayName%> <span class="font-mono font-normal text-gray-6"><%=app.name%></span></p>

            <!-- Status -->
            <div class="block">
                <div class="<%=app.name%>-status-dot status-dot status-dot-gray"></div><span class="status-text <%=app.name%>-status">Unknown</span>
            </div>
            <!-- Action buttons -->
            <br>
            <i class="fa-solid fa-power-off p-2 ml-2 rounded-md cursor-pointer hover:bg-gray-8 text-xl" title="On/Off" onclick="processPower('<%=app.name%>')"></i>
            <a href="/logs/<%=app.name%>">
                <i class="fa-solid fa-align-left p-2 ml-2 rounded-md cursor-pointer hover:bg-gray-8 text-xl" title="Logs"></i>
            </a>
            <i class="fa-solid fa-arrow-down-long p-2 ml-2 rounded-md cursor-pointer hover:bg-gray-8 text-xl" title="Git pull" onclick="processPull('<%=app.name%>')"></i>
            <i class="fa-solid fa-arrow-rotate-left p-2 ml-2 rounded-md cursor-pointer hover:bg-gray-8 text-xl" title="Restart" onclick="processRestart('<%=app.name%>')"></i>
            <br><br>
            <!-- Env editor -->
            <span class="font-bold text-gray-0">Environment configuration</span><br>
            <span>Warning: All inputs get cleared when adding more rows. I don't know why so just letting you know</span><br><br>
            <table class="bg-gray-8 rounded-md p-2 table border-collapse border-gray-600 border text-center" id="envTable">
                <tbody id="envTableBody">
                    <tr class="bg-gray-7">
                        <td class="p-2 border border-gray-600">
                            Key
                        </td>
                        <td class="p-2 border border-gray-600">
                            Value
                        </td>
                        <td class="p-2 border border-gray-600">
                            Optional
                        </td>
                        <td class="p-2 border border-gray-600">
                            Delete
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <span class="m-2 p-2 hover:bg-gray-8 rounded-md cursor-pointer" onclick="addRow()">Add row <i class="fa-solid fa-plus"></i></span>
            <br>
            <button onclick="saveEnv()" class="form-btn-green">Save</button>

        </div>
    </div>
    <script src="/js/pm2.js"></script>
    <script>
        processStatus("<%=app.name%>");

        let env = [];
        let curRow = 0
        let usedRows = []
        function addRow(key = "", value = "", optional = false) {
	        curRow++
	        usedRows.push(curRow)
	        let row = document.createElement("tr")
            row.id = `env_row_${curRow}`
            row.innerHTML = `
<td class="p-2 border border-gray-600">
    <input type="text" name="env_key_${curRow}" class="env_key form-input" placeholder="Key" value="${key}">
</td>
<td class="p-2 border border-gray-600">
    <input type="text" name="env_value_${curRow}" class="env_value form-input" placeholder="Value" value="${value}">
</td>
<td class="p-2 border border-gray-600">
    <input type="checkbox" name="env_optional_${curRow}" class="env_optional mx-auto"${optional ? " checked" : ""}>
</td>
<td class="p-2 border border-gray-600">
    <i class="fa-solid fa-minus m-2 p-2 rounded-md hover:bg-gray-7" onclick="removeRow(${curRow})"></i>
</td>`
            document.getElementById("envTableBody").appendChild(row)
        }

		fetch("https://ems-api.litdevs.org/v1/pm2/status", {
			method: "POST",
            headers: {
				Authorization: `Bearer ${getCookie("EMS-token")}`,
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                appName: "<%=app.name%>"
            })
        }).then(res => res.json()).then(res => {
			if (res.request.status_code !== 200) return alert("Error: " + res.request.status_code);
			env = res.response.definition.env;
			env.forEach(e => {
				addRow(e.key, e.value, e.optional)
			})
        })

        function removeRow(id) {
	        document.getElementById(`env_row_${id}`).remove();
	        usedRows.splice(usedRows.indexOf(id), 1);
        }

        function saveEnv() {
	        env = [];
	        usedRows.forEach(rowId => {
		        // Get row and add entry to env
		        let rowValue = document.querySelector(`input[name="env_value_${rowId}"]`).value
		        let rowKey = document.querySelector(`input[name="env_key_${rowId}"]`).value
		        let rowOptional = document.querySelector(`input[name="env_optional_${rowId}"]`).checked

		        if (!rowKey) return; // Key must be present
		        if (!rowOptional && !rowValue) return; // Value must be present only if it's not optional (wow)
		        env.push({
			        optional: rowOptional,
			        key: rowKey,
			        value: rowValue
		        })
	        })
            fetch("https://ems-api.litdevs.org/v1/pm2/env", {
                method: "PUT",
                headers: {
                    Authorization: `Bearer ${getCookie("EMS-token")}`,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    appName: "<%=app.name%>",
                    env: env
                })
            }).then(res => res.json()).then(res => {
                if (res.request.status_code !== 200) return alert("Error: " + res.request.status_code);
                alert("Saved!")
            }).catch(err => {
                alert("Error:\n" + err)
            })
        }
    </script>
</div>
<%-include("common/bottom.ejs")%>