<div class="service-card <%=process.name%>-card">
    <table class="w-full">
        <tr>
            <td>
                <span class="font-bold text-gray-0"><%=process.displayName%></span>
                <div class="block">
                    <div class="<%=process.name%>-status-dot status-dot status-dot-gray"></div><span class="status-text <%=process.name%>-status">Unknown</span>
                </div>
            </td>
            <td class="float-right">
                <i class="fa-solid fa-power-off p-2 ml-2 rounded-md cursor-pointer hover:bg-gray-8" title="On/Off" onclick="processPower('<%=process.name%>')"></i>
                <i class="fa-solid fa-align-left p-2 ml-2 rounded-md cursor-pointer hover:bg-gray-8" title="Logs" onclick=""></i>
                <i class="fa-solid fa-arrow-down-long p-2 ml-2 rounded-md cursor-pointer hover:bg-gray-8" title="Git pull" onclick=""></i>
                <i class="fa-solid fa-arrow-rotate-left p-2 ml-2 rounded-md cursor-pointer hover:bg-gray-8" title="Restart" onclick=""></i>
                <i class="fa-solid fa-wrench p-2 ml-2 rounded-md cursor-pointer hover:bg-gray-8" title="Manage" onclick=""></i>
            </td>
        </tr>
    </table>
</div>
<script>
    allProcesses.push("<%=process.name%>")
    processStatus('<%=process.name%>')
</script>