<div class="service-card m-2">
    <%
        let safeKey = secret.key.replace(/[^a-zA-Z0-9-]/gm, "-")
    %>
    <span class="font-semibold"><%=secret.key%></span>
    <div class="">
        <input type="text" readonly onclick="this.select();navigator.clipboard.writeText(this.value)" class="input-box" id="input_<%=safeKey%>" value="<%=secret.value.replace(/[^*]/gm, "*")%>">
        <i class="fa-solid fa-hippo ibtn" onclick="reveal('<%=secret.key%>')"></i>
        <i class="fa-solid fa-pen ibtn" onclick="edit('<%=secret.key%>')"></i>
        <i class="fa-solid fa-trash-can ibtn" onclick="del('<%=secret.key%>')"></i>
        <i class="fa-solid fa-floppy-disk ibtn hiddenpls" id="save_<%=safeKey%>" onclick="save('<%=secret.key%>')"></i>
    </div>
</div>